---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import CardMember from "@components/CardMember.astro";

const members = (await getCollection("member")).sort(
  (a, b) => (a.data.order ?? 0) - (b.data.order ?? 0),
);
const details = await getCollection("details");
---

<BaseLayout
  title="Band Members"
  description={"Get to know the " +
    members.length +
    " members of " +
    details[0].data.name +
    " - " +
    details[0].data.description}
>
  {/* Band Members Section */}
  <section id="band-members" class="relative bg-black px-3 pt-20 pb-32">
    <div class="absolute inset-0 bg-black opacity-10"></div>
    <div class="z-10 relative mx-auto px-4 container">
      <div class="flex items-center mb-12">
        <div class="flex-1 bg-linear-to-r from-transparent to-purple-500 h-px">
        </div>
        <h1
          class="flex items-center gap-2 px-4 font-bold text-yellow-300 text-3xl md:text-4xl text-center"
        >
          <span>MEET THE BAND</span>
        </h1>
        <div class="flex-1 bg-linear-to-l from-transparent to-purple-500 h-px">
        </div>
      </div>

      <div class="gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        {
          members.map((member, index) => (
            <CardMember index={index} member={member} />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
