---
import { getCollection } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { marked } from "marked";

const details = await getCollection("details");
const donate_content = await marked.parse(
  details[0].data.donate_content?.replace(/\n(?=\n)/g, "\n\n<br/>\n") || "",
);
---

<BaseLayout
  title={"Leave a Tip for " + details[0].data.name}
  description={"Leave a tip for " +
    details[0].data.name +
    " - " +
    details[0].data.description}
>
  {/* Tip Section */}
  <section id="tip" class="relative bg-black pt-20 pb-32">
    <div class="absolute inset-0 bg-black opacity-10"></div>
    <div class="z-10 relative mx-auto px-6 container">
      <div class="flex items-center mx-auto mb-12 max-w-[1320px]">
        <div class="flex-1 bg-linear-to-r from-transparent to-orange-500 h-px">
        </div>
        <h2
          class="flex items-center gap-2 px-4 font-bold text-yellow-300 text-3xl md:text-4xl text-center"
        >
          <span>{details[0].data.donate_title}</span>
        </h2>
        <div class="flex-1 bg-linear-to-l from-transparent to-orange-500 h-px">
        </div>
      </div>

      <div
        class="flex flex-col gap-10 bg-linear-to-br from-purple-900/40 to-black mx-auto px-3 py-12 border border-purple-500/30 rounded-lg max-w-2xl text-center"
      >
        <span class="mx-auto max-w-96 text-blue-400 text-xl"
          ><p set:html={donate_content} /></span
        >
        <div
          class="flex flex-col justify-center items-center mx-auto w-full text-center align-middle"
        >
          <a
            href={details[0].data.link_venmo}
            target="_blank"
            rel="noopener"
            title="Leave a tip using Venmo"
            class="bg-[#0c122c] px-10 py-6 border border-blue-400/40 hover:border-blue-300 button"
          >
            <Image
              src="/assets/svgs/venmo.svg"
              alt="Venmo"
              width={194}
              height={36}
              loading="eager"
              class="bg-[#0c122c] text-white text-2xl"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
