---
import type { CollectionEntry } from "astro:content";

export interface Props {
  member: CollectionEntry<"member">;
}

const { member } = Astro.props;
---

<div
  class="flex flex-col gap-4 p-4 border border-lifeBorder rounded-lg text-left grow"
>
  <div class="flex max-sm:flex-col items-center max-sm:items-start gap-4">
    <!-- <img
      class="mt-3 mr-3 rounded-full w-24 h-24 object-cover"
      src={typeof member.data.photo === "object" &&
      member.data.photo !== null &&
      "src" in member.data.photo
        ? member.data.photo.src.replace(/^.*\/src\/assets\//, "/src/assets/")
        : ""}
      alt={member.data.name}
      decoding="async"
      loading="lazy"
    /> -->
    <div class="flex flex-col items-start gap-2">
      <p class="text-md text-stone-600">{member.data.adjective}</p>
      <p itemprop="member" id={member.data.name + "-name"} class="text-2xl">
        <strong>{member.data.name}</strong>
      </p>
      <p class="text-md text-stone-600">{member.data.instrument}</p>
    </div>
  </div>
</div>
