---
import type { CollectionEntry } from "astro:content";

export interface Props {
  index: number;
  member: CollectionEntry<"member">;
}

const { member, index } = Astro.props;

const bgColors = [
  "bg-amber-400",
  "bg-rose-400",
  "bg-yellow-400",
  "bg-pink-400",
  "bg-sky-600",
  "bg-lime-400",
];
---

<div
  id={"band-member-" + index}
  class="bg-card bg-gradient-to-b from-purple-900/40 to-black shadow-sm border border-purple-700/50 rounded-lg overflow-hidden text-card-foreground"
>
  <div class="relative aspect-square">
    <img
      src={typeof member.data.photo === "object" &&
      member.data.photo !== null &&
      "src" in member.data.photo
        ? member.data.photo.src.replace(/^.*\/src\/assets\//, "/src/assets/")
        : "/assets/images/placeholder.png"}
      alt={member.data.name}
      class={`${bgColors[index % bgColors.length]} w-full h-full object-cover`}
      loading="lazy"
      decoding="async"
    />
  </div>
  <div class="p-4 text-center">
    <h3 class="text-pink-400 text-xl">
      <em class="opacity-60 px-1 text-pink-100">
        {member.data.adjective ? member.data.adjective : ""}
      </em>
      <br />
      <strong>{member.data.name}</strong>
    </h3>
    <p class="py-2 text-yellow-200">{member.data.instrument}</p>
  </div>
</div>
